name: Security Scan

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  scan:
    name: Trivy Manual
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - uses: aquasecurity/setup-trivy@v0.2.0
        with:
          cache: true
          version: v0.65.0
      - uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL'
          skip-setup-trivy: true
      - uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'trivy-results.sarif'
